/kotlin/target
/kotlin/.gradle
/kotlin/build
/kotlin/.idea
/java/target
/scala/sbt/project
/scala/sbt/target
/scala/maven/target
/scala/gradle/target
/scala/gradle/.gradle
/scala/gradle/build
/javascript/target
/javascript/node_modules
/typescript/target
/typescript/node_modules
settings.json
